<template name="communityItem">
    <div class="col-md-3">
        <div class="card-panel user_card">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg" alt="user" class="user_card-photo">
                </div>
                <div class="col-md-7">
                    <div class="user_card-name">{{username}}</div>
                    <div>Горный велосипед</div>
                </div>
            </div>
        </div>
    </div>
    {{#if clearfix}}
    <div class="clearifx"></div>
    {{/if}}
</template>