<template name="editProfile">
    <div class="page-title">Редактирование профиля</div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://i.pinimg.com/736x/c3/c4/94/c3c494a7194efecc6991cf527968b7b3--starwars-mtb-bike.jpg" alt="user photo" class="edit_profile-photo">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.profile.name}}">
                        <label for="" class="active">Имя</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.profile.sign}}">
                        <label for="" class="active">Подпись</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.profile.birthdate}}">
                        <label for="" class="active">Дата рождения</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.email[0]}}">
                        <label for="" class="active">E-mail</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.profile.telephone}}">
                        <label for="" class="active">Телефон</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.profile.city}}">
                        <label for="" class="active">Город</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="input-field">
                        <select name="" id="">
                            <option value="" disabled selected>Которая основная</option>
                            <option value="">Горный велосипед</option>
                            <option value="">Шоссейный велоспорт</option>
                            <option value="">BMX</option>
                            <option value="">Велосипедный туризм</option>
                        </select>
                        <label for="">Дисциплина катания</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <select name="" id="">
                            <option value="" disabled selected>Как долго сможешь крутить?</option>
                            <option value="">Новенький</option>
                            <option value="">Бывалый</option>
                            <option value="">Опытен</option>
                            <option value="">Все ближе к вершине</option>
                        </select>
                        <label for="">Уровень катания</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">Основной байк</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-align">
        <button type="submit" class="waves-effect waves-light btn-large">Сохранить</button>
    </div>
</template>