<template name="editProfile">
    <div class="page-title">Редактирование профиля</div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://images.pexels.com/photos/89635/pexels-photo-89635.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="user photo">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start" value="{{currentUser.username}}">
                        <label for="" class="active">Имя</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">Подпись</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">Дата рождения</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">E-mail</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">Телефон</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">Город</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="input-field">
                        <select name="" id="">
                            <option value="" disabled selected>Которая основная</option>
                            <option value="">Горный велосипед</option>
                            <option value="">Шоссейный велоспорт</option>
                            <option value="">BMX</option>
                            <option value="">Велосипедный туризм</option>
                        </select>
                        <label for="">Дисциплина катания</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <select name="" id="">
                            <option value="" disabled selected>Как долго сможешь крутить?</option>
                            <option value="">Новенький</option>
                            <option value="">Бывалый</option>
                            <option value="">Опытен</option>
                            <option value="">Все ближе к вершине</option>
                        </select>
                        <label for="">Уровень катания</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-field">
                        <input id="" type="text" name="start">
                        <label for="">Основной байк</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>