<template name="layout">
    <section class="{{#if currentUser}} row authenticated {{else}} not-authenticated {{/if}}" id="wrapp">
        <main id="main" class="{{#if currentUser}} col m10 {{/if}}">
            <header id="page_header" class="red darken-1">
                <div class="row">
                    <div class="col">
                        <a href="{{pathFor 'mainPage'}}" class="site-name">Let's Ride!</a>
                    </div>
                    {{#if currentUser}}
                    <div class="col-md-8">
                        <ul class="t_menu">
                            <li class="t_menu-item"><a href="#" class="t_menu-item_content">Правила портала</a></li>
                        </ul>
                    </div>
                    {{else}}
                    <div class="col-md-8">
                        <ul class="t_menu">
                            <li class="t_menu-item"><a href="#" class="t_menu-item_content">О проекте</a></li>
                            <li class="t_menu-item"><a href="#" class="t_menu-item_content">Блог</a></li>
                            <li class="t_menu-item"><a href="#" class="t_menu-item_content">Мобильное приложение</a></li>
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </header>
            <section id="page_content">
                {{>yield}}
            </section>
            {{#unless currentUser}}
            <section id="side_content">
                <button class="sc-hide_btn"><i class="material-icons">keyboard_arrow_right</i></button>
                <p>Проект "Lets Ride!" создается с многими целями, но основные из них - обьединить всех велосипедистов во время занятия любимым делом, найти новых друзей и получить опыт.</p>
                <p>Функционал сайта облегчает организацию велосипедных заездов и мероприятий, дает возможность отслеживать велосипедную жизнь выбраного города и с легкостью найти компаньенов:</p>
                <ul class="browser-default">
                    <li>
                        Основная особеность - это интерактивная карта. На ней расположены соответсвующими метками ближайшие заезды или мероприятия. После клика на метку можно увидеть основную информацию: описание; требования к участникам; маршрут; дата и время старта. На все заезды и мероприятия нужно подавать заявку организатору. После подтверждения будет доступна полная информация и чат-комната с участниками.
                    </li>
                    <li>
                        Каждый из зарегестрированных пользователей сможет запланировать свой личный заезд, прогулку или организовать мероприятие. 
                    </li>
                    <li>
                        Также запланирована функция онлайн-аукциона, где можно будеть продать и купить любой предмет по тематике сайта.
                    </li>
                </ul>
                <p>Мы очень стремимя к развитию велоспорта и велоиндустрии в целом!</p>
            </section>
            <footer id="page_footer">
                <a href="#">Помочь проекту</a> | v. 0.0002 by <a href="#">K-Studio</a>
            </footer>
            {{/unless}}
        </main>
        {{#if currentUser}}
        <aside id="right_bar" class="col-md-2">
            <div class="user" style="background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
                <div class="user-photo_wrapp">
                    <img src="https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg" alt="user" class="user-photo">
                </div>
                <div class="user-info">
                    <div class="user-info_name">{{currentUser.username}} <a href="{{pathFor 'editProfile'}}" class="user-btn icon-edit"></a><button id="logout-btn" class="user-btn icon-exit"></button></div>
                    <div class="user-info_sign">Ride your life!</div>
                </div>
            </div>
            <ul class="u_menu">
                <li class="u_menu-item">
                    <a href="#" class="u_menu-item_content"><i class="u_menu-item_content_icon material-icons">mail_outline</i>Центр сообщений</a>
                </li>
                <li class="u_menu-sep"></li>
                <li class="u_menu-item">
                    <a href="{{pathFor 'ridesList'}}" class="u_menu-item_content"><i class="u_menu-item_content_icon material-icons">directions_bike</i>Мои покатухи</a> <a href="#addRideModal" class="u_menu-item_add_link modal-trigger">+</a>
                </li> 
                <li class="u_menu-item">
                    <a href="{{pathFor 'eventsList'}}" class="u_menu-item_content"><i class="u_menu-item_content_icon material-icons">event</i>Мои ивенты</a> <a href="#" class="u_menu-item_add_link">+</a>
                </li>
                <li class="u_menu-sep"></li>
                <li class="u_menu-item">
                    <a href="{{pathFor 'community'}}" class="u_menu-item_content"><i class="u_menu-item_content_icon material-icons">group</i>Сообщество</a>
                </li>
                <li class="u_menu-item">
                    <a href="#" class="u_menu-item_content"><i class="u_menu-item_content_icon material-icons">dashboard</i>Доска обьявлений</a>
                </li>
            </ul>
        </aside>
        {{/if}}
    </section>
    {{#if currentUser}}
        {{>addRide}}
    {{/if}}
</template>