@import "user_menu";
@import "top_menu";
@import "user_bar";
@import "auth_form";
@import "ride_page";

.not-authenticated{
    background: url(/start_bg.jpg) center no-repeat;
    background-size: cover;
    #page_content {
        height: calc(100vh - 110px); 
    } 
}


.responsive-img{
    display: block;
}

.site-name{
    font: 36px/86px 'Comfortaa', cursive;
    font-weight: 700;
    color: #fff;
    &:hover,
    &:active,
    &:focus{
        color: #fff;
        text-decoration: none;
    }
}

.sc-hide_btn{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
    border: none;
    border-left: 1px solid #f1f1f1;
    text-align: center;
    padding: 0;
    color: #e9e9e9;
    background-color: #fff;
    &:hover,
    &:focus{
        background-color: #f1f1f1;
        color: #212121;
    }
}

.card{
    color: #232323;
}
.card-action{
    color: #a9a9a9;
    .material-icons{
        vertical-align: text-bottom;
    }
}


#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 24px;
  left: 24px;
}


.user_card-list{
    .clearfix{
        margin-bottom: 18px;
        width: 100%;
    }
}
.user_card{
    padding: 12px;
    margin: 0;
}
.user_card-photo{
    border-radius: 50%;
    display: block;
}
.user_card-name{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3px;
}


.cont{
    height: 206px;
    width: 206px;
    border-radius: 100%;
    border: 3px dashed #fff; //de4f4f
    position: fixed;
    -webkit-animation: spinner 5s ease-in-out infinite;
    left: 0;
    bottom: 16px;
    &:hover{
    -webkit-animation-play-state: paused; 
  }
	.spokes {
	 	height: 200px;
        margin: 0;
        padding: 0;
	 	width: 200px;
	 	border: 10px solid #fff;
	 	border-radius: 100%;
	 	position: absolute;
	 	left: 0;
	 }
	  li{
	    list-style: none;
	    border-right: 1px solid #fff;
	    height: 180px;
	    width: 1px;
	    position: absolute;
	    left: 90px;
	  }
}
@-webkit-keyframes spinner{

	50%{
		-webkit-transform: rotate(360deg);
		left: calc(100% - 220px);
	}
}

.modal .modal-footer .btn,
.modal .modal-footer .btn-large,
.modal .modal-footer .btn-flat{
    padding: 0 18px;
}
.modal-footer{
    overflow: hidden;
}
.modal-title{
    margin: 0;
    line-height: 56px;
    padding: 0 24px;
    font-size: 2rem;
}
.modal-close_btn{
    color: #fff;
    height: 56px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 24px;
    transition: all 0.25s ease-in-out;
    &:hover,
    &:focus{
        background-color: rgba(255, 255, 255, 0.1);
    }
}
.modal.modal-fixed-footer .modal-title + .modal-content {
    height: calc(100% - 112px);
}

.ride_card-wrapp{
    padding-bottom: 18px;
}
.ride_card{
    height: 100%;
    margin: 0;
}
.ride_card-img{
    background-size: cover;
    background-position: center;
    width: 50%;
}

.photo_modal{
    width: 400px;
}
.photo_modal-content{
    padding: 0 !important;
}

.input-field{
    margin-bottom: 20px;
}



    .map_wrapp{
        margin: -18px;
        height: calc(100vh - 86px);
    }



.project_version{
    padding: 0 16px;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    color: #a9a9a9;
    bottom: 16px;
}


span.input-field_error{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    color: #FF4081;
}


.page-title{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    color: #9e9e9e;
    margin: 0 0 24px;
    line-height: 48px;
}




.ride_modal-route,
.ride_modal-requirements,
.ride_modal-date{
    margin-top: 18px;
}
.ride_modal-sub_title{
    margin: 0 0 16px;
    font-size: 20px;
}
.ride_modal-agreement{
    line-height: 36px;
    text-align: left;
    margin: 6px 0;
    padding: 0 18px;
    font-size: 1rem;
}




.edit_profile-photo{
    position: relative;
    display: block;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
        .edit_profile-photo_icon{
            opacity: 1;
        }
        img{
            opacity: 0.5;
        }
    }
    img{
        display: block;
        border: 1px solid #9e9e9e;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        height: 263px;
        margin: 0 auto;
        border-radius: 50%;
        transition: all 0.25s ease-in-out;
    }
}
    .edit_profile-photo_icon{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #E53935;
        opacity: 0;
        transition: all 0.25s ease-in-out;
    } 


