.rp-title{
    @extend .page-title;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0 !important;
}
.rp-sub_title{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.rp-start{
    font-size: 18px;
    color: #de4f4f;
    text-align: right;
    line-height: 30px;
}
.rp-route{
    text-align: right;
    color: #9e9e9e;
    margin-bottom: 16px;
}
.rp-map{
    min-height: 200px;
    height: 200px;
}
.rp-desc,
.rp-chat{
    margin-top: 32px;
}
    .rp-desc_item{
        + .rp-desc_item{
            margin-top: 16px;
        }
    }
    .rp-chat_area{
        background-color: #f1f1f1;
        border-radius: 2px;
        padding: 18px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6);
        height: 200px;
        overflow-y: scroll;
    }
        .rp-chat_area_mess{
            display: flex;
            + .rp-chat_area_mess{
                margin-top: 18px;
            }
        }
            .rp-chat_area_mess_photo{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            .rp-chat_area_mess_info{
                padding-left: 9px;
                font-size: 9px;
                line-height: 12px;
            }
            .rp-chat_area_mess_content{
                font-size: 13px;
                min-height: 20px;
                line-height: 20px;
                background-color: #e4e4e4;
                padding: 0 6px;
                border-radius: 4px;
                color: rgba(0, 0, 0, 0.6);
            }
    .rp-chat_btn{
        width: 100%;
    }