.rp-title{
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0;
}
.rp-start{
    font-size: 18px;
    color: #de4f4f;
    text-align: right;
    line-height: 30px;
}
.rp-route{
    margin-top: 16px;
}
.rp-desc,
.rp-requirements,
.rp-difficulty{
    margin-top: 32px;
}