.u_menu{
    list-style: none;
    margin: 18px 0;
    padding: 0;
}
    .u_menu-sep{
        height: 1px;
        background-color: #e9e9e9;
        overflow: hidden;
        margin: 0;
    }
    .u_menu-item{
        position: relative;
        &:hover{
            background-color: #E9E9E9;
            .u_menu-item_content{
                color: #212121;
                text-decoration: none;
            }
        }
        &.active{
            .u_menu-item_content_icon,
            .u_menu-item_content{
                color: #de4f4f;
            }
        }
    }
        .u_menu-item_content{
            display: block;
            padding: 0 16px;
            height: 48px;
            line-height: 48px;
            font-size: 14px;
            color: #212121;
            
        }
            .u_menu-item_content_icon{
                display: inline-block;
                margin-right: 16px;
                width: 30px;
                text-align: left;
                font-size: 22px !important;
                color: #757575;
                vertical-align: middle;
            }
        .u_menu-item_add_link{
            background-color: #de4f4f;
            color: #fff;
            height: 22px;
            width: 22px;
            display: block;
            position: absolute;
            right: 16px;
            top: 14px;
            border-radius: 50%;
            text-align: center;
            line-height: 22px;
            font-size: 18px;
        }