<template name="ridePage">
  <div class="row">
      <div class="col-sm-6">
          <img src="{{image.link}}" alt="">
      </div>
      <div class="col-sm-6">
          <div class="rp-title">{{title}}</div>
          <div class="rp-route">{{route}}</div>
<!--
          <div class="rp-start">{{start}}</div>
          <div class="rp-desc">
              <h4>Описание:</h4>
              {{description}}
          </div>
          <div class="rp-requirements">
              <h4>Требования к участникам:</h4>
              {{requirements}}
          </div>
-->
      </div>
  </div>
</template>