<template name="ridesItem">
    <div class="col-md-6 ride_card-wrapp">
        <a href="{{pathFor 'ridePage'}}" class="card horizontal ride_card">
            <div class="card-image ride_card-img" style="background-image: url({{image.link}});"></div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title">{{title}}</span>
                    <p>{{route}}</p>
                </div>
                <div class="card-action">
                    <i class="material-icons">group</i>&nbsp;&nbsp;К-ол участников: 0
<!--                    <a href="#" class="ride-delete_btn grey-text text-lighten-1" style="margin: 0"><i class="material-icons">delete</i></a>-->
                </div>
            </div>
        </a>
    </div>
</template>
