#wrapp{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    &.not-authenticated{
        #page_content{
            padding: 0;
        }
    }
}
#right_bar{
    background-color: #f1f1f1;
    padding: 0;
    height: 100vh;
}
#page_header{
    color: #fff;
    height: 86px;
    padding: 0 18px;
}
#main_content{
    height: 100vh;
    padding: 0;
}
#page_content{
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 86px); 
    padding: 18px;
}
.not-authenticated{
    #page_content{
        height: calc(100vh - 110px); 
    }
}
#page_footer{
    height: 24px;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9); 
    a{
        color: rgba(255, 255, 255, 0.9);
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active{
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
        }
    }
}